svg{
    /* aspect-ratio: 1/1;
    width: 100%;
    max-height: 100%; */
}
svg text {
  fill: currentColor;
}
svg a {
  fill: hsl(var(--col-blk));
  /* text-decoration: underline; */
  font-size: inherit;
}
svg a:visited {
    
}
svg a:where(:hover, :focus) {
  fill: hsl(var(--col-primary));
}
@keyframes loop {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}
.rect-group rect {
  /* animation-name: loop; */
  animation-duration: 8s;
  animation-delay: var(--speed);
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
